body{
    background-color: rgb(75, 166, 241);
}
#code-info ul li{
    display: grid ;
    /* flex-direction: column; */
    background-color: aliceblue;
    border-radius: 0.8em;
    padding: 0.5em;
    border-style: solid;
}
#temp-info ul li{
    display: flex;
    /* flex-direction: column; */
    background-color: aliceblue;
    border-radius: 0.8em;
    padding: 0.5em;
    margin: 0px;
    border-style: solid;
}
#code-info{
    width: 350px;
    height: 0px;
    text-align: center;
}
#temp-info{
    width: 300px;
    position: relative;
    bottom: 21px;
    position: relative;
    left: 400px;
    text-align: center;
}
#code-info ul{
    margin: 0px;
    padding: 0px;
    height: 0px;
}